<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
    <div th:replace="header :: header-css"/>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="form-in">
            <form name="myForm" th:action="@{/employee/__${id}__}" th:method="put" th:object="${employeeModel}" onsubmit="return validateForm()">
                <label>
                    First name:
                    <input type="text" pattern="[a-zA-Z]+" name="name" th:field="*{name}" required="true"/>
                </label>
                <div class="error-text"></div>

                <label>
                    Surname:
                    <input type="text" pattern="[a-zA-Z]+" name="surname" th:field="*{surname}"/>
                </label>
                <div class="error-text"></div>
                <label>
                    E-mail:
                    <input type="text" name="email" th:field="*{email}"/>
                </label>
                <div class="error-text"></div>
                <label>
                    Phone number:
                    <input type="text" pattern="[0-9]+" name="email" th:field="*{phone}"/>
                </label>
                <div class="error-text"></div>
                <label>
                    Region of responsibility:
                    <select th:field="*{regionResponsibility}">
                        <option selected="true" name="regionResponsibility" th:value="hun-budapest">Hungary - Budapest</option>
                        <option name="regionResponsibility" th:value="hun-miskolc">Hungary - Miskolc </option>
                        <option name="regionResponsibility" th:value="pol-krakow">Poland - Krakow </option>
                        <option name="regionResponsibility" th:value="pol-warsaw">Poland - Warsaw </option>
                    </select>
                </label>
                <div class="error-text"></div>
                <label>
                    Role:
                    <select th:field="*{role}">
                        <option selected="true" name="role" th:value="ROLE_EMPLOYEE">Role Employee</option>
                        <option name="role" th:value="ROLE_ADMIN">Role Admin</option>
                    </select>
                </label>
                <div class="error-text"></div>
                <input class="btn primary" type="submit" value="add"/>
            </form>
        </div>
    </div>
</div>
<script src="/js/validate.js" />
<script src="/js/app.js" />
</body>
</html>